body {
    background-color: white;
}

h1 {
    color: navy;
    margin-left: 20px;
}

/* Whole Page Formats */
/*
#nav-header table, #nav-footer table, .results table {
	width: 70%;	
}
*/
/* Do not provide widths for printing or cells can't expand  */
@media screen {
	table {
		width: 90%;	
	}
}

@media print {
	div.grp-return, div#summary, div#nav-header, 
	div#nav-footer, div#footer  {
		display: none !important;
	}
}

/* Format for Summary links*/
#summary ul.main {
  columns: 4;
  list-style-position: inside;
}


/* Format for Nav*/
#nav-header p {
	text-align: center;
	font-size: small;
	color: black;
}

#nav-header table, #nav-footer table {
	border: 0;
	background: #E2D3A7;
}

#nav-header td, #nav-footer td {
	font-size: x-small;
	text-align: center;
}

#nav-header td.nav-page-cell, #nav-footer td.nav-page-cell {
	width: 5%;	
}

#nav-header td.nav-page-center, #nav-footer td.nav-page-center {
	width: 90%;	
	background: #E2D3A7;
}

#nav-footer td.nav-page-center {
	font-size: small;
}

#nav-header td.nav-page-center {
	font-size: x-large;
	font-weight: bold
}


/* Format for Footer*/
#footer p {
	text-align: center;
	font-size: x-small;
	color: black;
}

#footer img {
	border: 0;
}

img.smalllogo {
	width: 200px;
    height: 69px;
	background: url(https://raw.githubusercontent.com/ruddj/SportsAdmin/master/web/___small_logo.gif) no-repeat top left;
}

/* Format for Grouping row */

.place td, .results td {
	text-align: center;
	white-space:nowrap;
	/*width:1px;*/
}

.results div.grp-results {
	page-break-inside: avoid;
	page-break-before:auto;
	display: block;
}

.results div.grp-results:after {
	content: ' ';
	display: block;
	height: 20px;
}

.results td.name, .results td.Fullname {
	text-align: left;
}

/* First Place */
.place-0-1 td {
	background: #FF8080;
}

/* Formattting For table */
.results table {
	table-layout:fixed;	
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

/* Formattting For cells */

thead th, thead tr   {
	background-color: #EEE8D2;
	font-weight: bold;
}

td._Position, td.SumOfPoints {
	text-align: center;
}

th.competitor {
	text-align: center;
	width: 40%;
}

